@model NewsHole.Web.Models.Account.NewPasswordModel

@{
    ViewBag.Title = "New Password";
}

<h2>New Password</h2>

@using (Html.BeginForm("NewPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Token)

    <div class="form-group">
        <div class="col-md-2 col-sm-3 col-xs-12">
            @Html.Label("New Password")
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", type = "password" })
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-sm-3 col-xs-12">
            @Html.Label("Confirm Password")
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.ConfirmNewPassword, new { @class = "form-control", type = "password" })
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
}